$font-size-base: 13px;
$default-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$line-height-base: 1.5;

$color-text: #444444;
$color-text-secondary: #9B9B9B;
$color-bgnd: #E5E5E5;

$color-white: #FFFFFF;
$color-primary: #F4511E;
$color-accent: #00BCD4;
$color-divider: #EFEFEF;
$color-muted: #BFBFBF;
$color-gray: #9B9B9B;
$color-twitter: #55ACEE;
$color-gold: #F6B500;



$shadow-z0: none;
$shadow-z1: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
$shadow-z2: (0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 1px 4px 0 rgba(0, 0, 0, 0.15));
$shadow-z3: (0 13px 25px 0 rgba(0, 0, 0, 0.3), 0 4px 7px 0 rgba(0, 0, 0, 0.19));
$shadow-z4: (0 20px 40px 0 rgba(0, 0, 0, 0.3), 0 11px 12px 0 rgba(0, 0, 0, 0.17));
$shadow-z5: (0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 14px 17px 0 rgba(0, 0, 0, 0.15));
